@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  font-family: 'Baloo Tammudu 2', 'Century Gothic', sans-serif;
  color: #393939;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

form {
  display: grid;
  justify-items: center;
  align-items: center;
}

p {
  margin: 0;
}

.signLogIn {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  border: solid 1px rgb(63, 43, 109);
  width: 100%;
  padding: 30px;
  border-top: 10px solid rgb(63, 43, 109);
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  background-image: linear-gradient(
    179.8deg,
    #809bce 23%,
    rgba(232, 232, 232, 1) 91.3%
  );
}

.buttons {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  overflow: hidden;
}

button {
  background-color: #341661;
  color: white;
  align-items: stretch;
  justify-items: space-between;
  border-radius: 3px;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.card {
  /* box-sizing: border-box;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-items: center;
  display: grid; */
  position: relative;
  width: 100px;
  height: 100px;
  background: linear-gradient(#1daaf6, #23b1a3);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  color: #0ea1f5;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.front {
  animation: shake .8s;
}

@keyframes shake {
  10%, 90% {
      transform: translate3d(-3px, 0, 0);
  }

  20%, 80% {
      transform: translate3d(5px, 0, 0);
  }

  30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
      transform: translate3d(1px, 0, 0);
  }
}

.boardTimer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredoka One', cursive;
}

.timerAndDiff {
  display: flex;
  flex-direction: column;
}

#diffDropdown {
  border: solid 1px #393939;
  background-color: #a8d3f2;
  width: 1fr;
  border-radius: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 155px;
}

.timerDiv {
  border: solid 1px #393939;
  background-color: #a8d3f2;
  width: 1fr;
  border-radius: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

#timer {
  font-size: 72pt;
  margin-block-end: 0;
  margin-block-start: 0;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-items: center;
  border: solid 1px #393939;
  margin: 20px;
  padding: 30px;
  background-color: #a8d3f2;
  border-radius: 3px;
  z-index: 0;
}

#winner {
  z-index: 1;
  border: solid 1px #393939;
  margin: 20px;
  padding: 30px;
  background-color: #a8d3f2;
  border-radius: 3px;
}

#front {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 157, 129, 1) 24.3%,
    rgba(255, 78, 78, 1) 78.3%
  );
  cursor: pointer;
  border-radius: 3px;
}
#back {
  width: 100px;
  height: 100px;
  background-color: #a8d3f2;
  cursor: pointer;
  border-radius: 3px;
}

input {
  border-radius: 3px;
  border: none;
}

label {
  font-weight: bold;
  position: relative;
  right: 25px;
  text-decoration: underline;
}

h3 {
  font-weight: bold;
}

.recordsContainer {
  display: grid;
  justify-items: center;
  border: solid 1px #393939;
  padding: 20px;
  width: 85%;
  border-radius: 3px;
  background-image: linear-gradient(
    179.8deg,
    #809bce 23%,
    rgba(232, 232, 232, 1) 91.3%
  );
}

.records {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.currentUser {
  display: flex;
  border: solid 1px #393939;
  flex-direction: column;
  margin: 0;
  width: 85%;
  padding: 20px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  line-height: 80%;
  background-image: linear-gradient(
    179.8deg,
    #809bce 23%,
    rgba(232, 232, 232, 1) 91.3%
  );
}

.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-container {
  margin-top: 20px;
  display: grid;
  justify-items: center;
  border: solid 0.2px #9f9f9f;
  border-radius: 15px;
  padding: 20px;
  width: 90%;
  background-color: #a8d3f2;
  height: 100px;
  font-size: 30px;
  margin-bottom: 50px;
}

.NavBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#userName {
  justify-self: flex-end;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UserPage input {
  border: 1px solid black;
}

.selectDifficulty {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}
